# Binaries
# Ignore all bin folders anywhere
**/bin/
# Ignore bin-int folders
**/bin-int/
**/Intermediates/



# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj



